    

body{
    width:100%;
    height: 100%;
    background-image: url("../Images/Bookingimages/crik.jfif");
    
    background-repeat: none;
    background-size: cover;
    background-color:rgba(43, 43, 245, 0.729);
    background-position-y:right;
    
    
    
    background-position:center;
}

.inner-layer{
    position:absolute ;
    width: 100%;
    height: 100%;
    background-color:white;
    overflow: auto;

}
.form-data{
    margin-top: 15%;
    background-color: #fff;
}
.form-body{
    padding: 10px;

}
.form-head{
    padding: 20px;
    border-bottom: 2px solid grey;
    background-color: rgb(9, 93, 9);
    font-weight: 700;
}
.form-head h2{
    font-size: 22px;
    font-weight: 600;
}
.no-margin{
    margin: 0px
}
.form-row{
    border-bottom: 15px ;
    margin:10px;
}
.form-control{
    background-color: #f7f7ff;
}
.form-control:focus{
    box-shadow: none;
    border:3px solid rgb(9, 93, 9);

}
.btn-appointment{
    background-color:rgb(9, 93, 9) ;
    font-weight:600;
    font-size: larger;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    height:50px;
}
.content{
    margin-top: 15%;
    text-align: center;
    color: rgb(5, 3, 3);

}
.content h1{
    font-weight: 600;
    font-size: 3.5rem;
    
}
.content p{
    font-size:22px ;

}
.con{
    z-index: 0;
    margin: 20px;
   padding-left: 500px;
    align-items: center;
    justify-content: center;
    position: absolute;
text-align: center;
justify-items: center;
display: flex;

}
label{
    font-weight: 500;
}

.popup{
    width: 500px;
    background: #fff;
    border-radius: absolute;
    margin-top: 0px;
 padding-left: 500px;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333 ;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s ;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius:70% ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 10px 0 10px;
}
.popup.para{
    padding: 0px;
    margin: 0px;


}
.popup button {
    width: 100%;
    margin-top: 50%;
    padding: 10px 0;
    background: rgb(9, 93, 9);
  
    color:#fff;
    font-weight: 450;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);

}
